.body_contain {
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 20%, 20%, 40%, 20%;
    color:white;
    background-color: slategray;
}




.top_contain {
    display:grid;  
    grid-template-columns: repeat(12,1fr);
    height: 100%;
    background-color:#ededed;
}



.logo{
    grid-column: 1/3;
    height: 100%;
    background-color: #011f4b;
    text-align:center;
    font-family: "Charm";
    color: white;
    font-size: 2em;

}

.nav_bar { 
    grid-column:3/13;
    height: 100%;
    background-color: #d0e0e3;
    text-align: right;
    padding:.5em;

}

.navbar { 
    right: auto; 
    left: 0; 
}
/* 
.title {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    text-align:center;
    font-family: "Charm";
    color: white;
    font-size: 3em;

} */




.bot_bar{
    background-color: #011f4b;
    text-align: center;
}

.main_content {
    height: 100%;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    
}

.founder_name {
    text-align: left;
    font-weight: bold;
    font-family: "Charm";
}

.founder_info {
    text-align: left;
    
}

#text_contain_1{
    grid-column-start: 3;
    grid-column-end:11;
    grid-row:1;
    background-color: bisque;
    color:black;
    border: 1em solid bisque;
    text-align: center;
}

#text_contain_2{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row:2;
    background-color: bisque;
    color:black;
    border: 1em solid bisque;
    text-align:center;
}

#text_contain_3{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row:3;
    background-color: bisque;
    color:black;
    border: 1em solid bisque;
    text-align: center;
}

#text_contain_4{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row:4;
    background-color: bisque;
    color:black;
    border: 1em solid bisque;
    text-align: center;
}

#progress_container{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row:4;
    background-color: #fafafa;
    color:black;
    border: 1em solid bisque;
    text-align: center;
}



.imp_text{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Charm';
    padding-bottom: .5em;

}


.body_contain_home {
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 20%, 20%, 40%, 20%;
    color:white;
    background-color: #708090;
} 


.main_content_home {
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 1fr, 1fr, 1fr;
}


.pic_contain {
    background-color: rgb(250, 249, 247);
    grid-column:3/11;
    grid-row:2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.pic_contain img {
    height: 10em;
    width: 100%;
    padding:.25em;
    margin-top: .5em;
    margin-bottom: .5em;

}

.pic_contain_2{
    background-color: rgb(250, 249, 247);
    grid-column:3/11;
    grid-row:3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.pic_contain_2 img {
    height: 10em;
    width: 100%;
    padding:.25em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.hire_req {
    text-align: left;
    font-weight: 700;
    
}

.hire_info{
    text-align: left;
    font-size: 1em;
}

.misc_job_info {
    text-align: left;
    font-size: .8em;
    font-weight:500;
}

.carousel-inner .carousel-item {
    overflow: hidden;
    object-fit: scale-down;
    object-position: bottom;
    height: 30vw;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

